.content_facts {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgb(255, 226, 172);
}


#colorbox{
width: 300px;
height: 300px;
background-color: bisque;
text-align: center;
}


button {
padding: 10px;
margin: 10px;
}